<!DOCTYPE html>
<html>
<head>
    <title>用户信息</title>
</head>
<body>
    <h1>用户信息</h1>
    <form method="post" action="/">
        <label for="nickname">昵称:</label>
        <input type="text" id="nickname" name="nickname"><br><br>

        <label for="name">姓名:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="signature">签名:</label>
        <input type="text" id="signature" name="signature"><br><br>

        <input type="submit" value="提交">
    </form>
</body>
</html>
