<!DOCTYPE html>
<html>
<head>
    <title>实名认证页面</title>
</head>
<body>
    <h1>请进行实名认证</h1>

    <form  method="POST">
        <label for="nickname">昵称：</label>
        <input type="text" id="nickname" name="nickname" required><br><br>

        <label for="real_name">真实姓名：</label>
        <input type="text" id="real_name" name="real_name" required><br><br>

        <label for="id_number">身份证号码：</label>
        <input type="text" id="id_number" name="id_number" required><br><br>

        <label for="signature">签名：</label>
        <input type="text" id="signature" name="signature" required><br><br>


        <input type="submit" value="提交">
    </form>
</body>
</html>