<!DOCTYPE html>
<html>
<head>
    <title>Confirm Registration and Make Payment</title>
</head>
<body>
    <h1>如果确定注册，请付款</h1>
    <ul>
        <li><strong>用户名：</strong>{{ username }}</li>
        <li><strong>用户类型：</strong>{{ usertype }}</li>
        <li><strong>账户有效时间：</strong>{{ duration }}</li>
        <li><strong>应付金额：</strong>{{ cost }}</li>
    </ul>

    <form  action="http://123.56.121.72:5000/confirmReg" method="POST">
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="usertype" value="{{ usertype }}">
        <input type="hidden" name="duration" value="{{ duration }}">
        <input type="hidden" name="cost" value="cost">
        <input type="submit" name="submit" value="确定">
        <input type="submit" name="submit" value="取消">
    </form>
</body>
</html>
