<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>注册成功</h3>
    <h4>请妥善保存私钥，可以在10分钟内下载</h4>
    <div>
        <p><strong>访问该网址以下载您的私钥：</strong>{{ privatekeyURL }}</p>
    </div>
    <div>
        <p>请返回主界面实名认证激活账号</p>
        <a
            href="http://localhost:5000/">点我跳转</a>
    </div>
</body>
</html>