<html>

<head>
    <title>Spyder</title>
</head>

<body>
    <h1>Spyder Blockchain</h1>
    Welcome to our Blockchain Page
    <br>Lets Go !!!
    <br>
    <ul>
        <li>注册账号 : <a
            href="http://123.56.121.72:5000/register">点我跳转</a></li>
        <li>实名认证以激活账号 : <a
                href="http://123.56.121.72:5000/RealNameAuth">点我跳转</a></li>
        <li>For Validating Blockchain Visit : <a
                href="http://123.56.121.72:5000/validate">http://123.56.121.72:5000/validate</a></li>
    </ul>
</body>

</html>